---
name: CI

on:
  pull_request:

jobs:
  golangci-lint:
    name: Lint Source Code
    runs-on: ubuntu-slim
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Run Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: ./
          args: --timeout 3m

  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false

  goreleaser-test:
    name: GoReleaser
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: --snapshot --clean

  # run-tests:
  #   name: Run Tests
  #   runs-on: ubuntu-slim
  #   steps:
  #     - name: Check out code
  #       uses: actions/checkout@v6

  #     - name: Setup Go
  #       uses: actions/setup-go@v6
  #       with:
  #         go-version-file: "go.mod"
  #         cache: true

  #     - name: Install Task
  #       uses: go-task/setup-task@v1

  #     - name: Run Tests
  #       run: |
  #         task tests
